* {
  padding: 0;
  margin: 0;
  font-family: "ArialMT", "Arial";
}

body {
  background-color: rgba(242, 242, 242, 1);
}

.bids_btn_con:after,
.bids_con:after {
  content: "";
  display: table;
  clear: both;
}

.bids_con {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.bids_main_hdng {
  font-size: 13px;
  margin: 0 0 30px;
}

.bids_cntnt_con {
  position: relative;
}

.bids_cntnt_con ul {
  position: relative;
}

.bids_cntnt_con ul li {
  list-style-type: none;
  padding: 0 0 15px;
}

.bids_btn_con {
  position: relative;
  margin: 50px 0 0;
}

.bids_btn_hdng {
  position: relative;
  margin: 0 0 15px;
}

.bids_btn_box {
  position: relative;
}

.bids_btn_box .bids_btn {
  position: relative;
  float: left;
  display: block;
  width: 124px;
  height: 50px;
  padding: 5px 10px;
}

.bids_btn_box .bids_btn + .bids_btn {
  margin: 0 0 0 10px;
}

.bids_btn_box .bids_btn.bids_btn_input {
  background-image: url("/images/input_box.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px 15px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
}

.bids_btn_box .bids_btn.bids_btn_input input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  box-shadow: 0 0 0 transparent;
}

.bids_btn_box .bids_btn.bids_btn_btn {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px 15px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
}

.bids_btn_box .bids_btn.bids_btn_btn.active {
  background-image: url("../public/images/button_blue.png");
}

.bids_btn_box .bids_btn.bids_btn_btn.disable {
  background-image: url("../public/images/button.png");
}

.bids_btn_box .bids_btn.bids_btn_btn.hidden {
  background-image: none;
  display: none;
}

.bids_btn_box .bids_btn.bids_btn_btn button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-transform: uppercase;
}
